.collageContainer {
	background-color: lightgray;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	padding: 5px;
	margin: auto;
	list-style: none;
	border-radius: 5px;
}

.collageName,
.collageDescription,
.collageButton {
	flex: 0 0 auto;
}
